<div class="centered">
    {{#kitten}}
        <p>
            <a href="{{url}}" title="{{title}}" class="kitten">
                <img class="kitten-image" src="/img/{{id}}" alt="{{imageAlt}}">
            </a>
        </p>

        <p class="permalink">
            Like this kitten? Here's a <a href="/kitten/{{id}}" rel="bookmark">permalink</a>!

            <br>
            <input id="permalink-input" readonly
                value="http://www.emergencykitten.com/kitten/{{id}}">
        </p>
    {{/kitten}}
</div>

<script>
(function (win, doc) {
    doc.getElementById('permalink-input').addEventListener('focus', function () {
        var el = this;

        setTimeout(function () {
            el.select();
        }, 1);
    }, false);
}(this, document));
</script>
